@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery-container{
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    gap: 10px ;
}
.gallery-container-reverse {
    display: flex ;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center ;
    gap: 10px ;
}

